<script src="{% static 'lib/jquery/jquery.min.js' %} "></script>
<script src="{% static 'lib/jquery-ui/ui/widgets/datepicker.js' %} "></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
<script src="{% static 'lib/perfect-scrollbar/perfect-scrollbar.min.js' %} "></script>
<script src="{% static 'lib/moment/min/moment.min.js' %} "></script>
<script src="{% static 'lib/peity/jquery.peity.min.js' %} "></script>
<script src="{% static 'lib/rickshaw/vendor/d3.min.js' %} "></script>
<script src="{% static 'lib/rickshaw/vendor/d3.layout.min.js' %} "></script>
<script src="{% static 'lib/rickshaw/rickshaw.min.js' %} "></script>
<script src="{% static 'lib/jquery.flot/jquery.flot.js' %} "></script>
<script src="{% static 'lib/jquery.flot/jquery.flot.resize.js' %} "></script>
<script src="{% static 'lib/flot-spline/js/jquery.flot.spline.min.js' %} "></script>
<script src="{% static 'lib/jquery-sparkline/jquery.sparkline.min.js' %} "></script>
<script src="{% static 'lib/echarts/echarts.min.js' %} "></script>
<script src="{% static 'lib/select2/js/select2.full.min.js' %} "></script>
<script src="http://maps.google.com/maps/api/js?key=AIzaSyAq8o5-8Y5pudbJMJtDFzb8aHiWJufa5fg"></script>
<script src="{% static 'lib/gmaps/gmaps.min.js' %}"></script>

<script src="{% static 'js/map.shiftworker.js' %} "></script>
<script src="{% static 'js/ResizeSensor.js' %} "></script>
<script src="{% static 'js/dashboard.js' %} "></script>
<script src="{% static 'lib/chart.js/Chart.min.js' %} "></script>
<script src="{% static 'js/chart.chartjs.js' %} "></script>



<!--------------------- form wizards scripts ----------------------------------->
<script src="{% static 'lib/highlightjs/highlight.pack.min.js' %}"></script>
<script src="{% static 'lib/jquery-steps/build/jquery.steps.min.js' %}"></script>
<script src="{% static 'lib/parsleyjs/parsley.min.js' %}"></script>

<!----------------------- scripts for table -------------------------------------->
<script src="{% static 'lib/perfect-scrollbar/perfect-scrollbar.min.js' %} "></script>
<script src="{% static 'lib/moment/min/moment.min.js' %} "></script>
<script src="{% static 'lib/peity/jquery.peity.min.js' %} "></script>
<script src="{% static 'lib/highlightjs/highlight.pack.min.js' %} "></script>
<script src="{% static 'lib/datatables.net/js/jquery.dataTables.min.js' %} "></script>
<script src="{% static 'lib/datatables.net-dt/js/dataTables.dataTables.min.js' %} "></script>
<script src="{% static 'lib/datatables.net-responsive/js/dataTables.responsive.min.js' %} "></script>
<script src="{% static 'lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js' %} "></script>
<script src="{% static 'lib/select2/js/select2.min.js' %} "></script>
